.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 768px) {
    gap: 2.5rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

.reservation {
  order: -9999;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    order: 9999;
  }

  @media (min-width: 768px) {
    grid-column: span 3 / span 3;
  }
}
