.search {
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral-200);
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  box-shadow: var(--shadow-sm);
  cursor: pointer;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: box-shadow;

  @media (min-width: 768px) {
    width: auto;
  }
}

.search:hover {
  box-shadow: var(--shadow-md);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.labelDuration {
  display: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  border-left-width: 1px;
  border-right-width: 1px;
  flex: 1 1 0%;
  text-align: center;

  @media (min-width: 640px) {
    display: block;
  }
}

.labelGuestContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  color: var(--gray);
  gap: 0.75rem;
}

.labelGuest {
  display: none;
  @media (min-width: 640px) {
    display: block;
  }
}

.iconContainer {
  padding: 0.5rem /* 8px */;
  border-radius: 9999px;
  background-color: var(--rose);
  color: var(--white);
}
