.rootContainer {
  position: relative;
}

.airbnbContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.airbnbLabel {
  display: none;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 600;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  border-radius: 9999px;
  cursor: pointer;

  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @media (min-width: 768px) {
    display: block;
  }
}

.airbnbLabel:hover {
  background-color: var(--neutral-100);
}

.airbnbButton {
  padding: 1rem /* 16px */;
  border-width: 1px;
  border-color: var(--neutral-200);
  border-style: solid;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  border-radius: 9999px;
  cursor: pointer;

  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @media (min-width: 768px) {
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
  }
}

.airbnbButton:hover {
  box-shadow: var(--shadow-md);
}

.menuContainer {
  position: absolute;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-md);
  width: 40vw;
  background-color: var(--white);
  overflow: hidden;
  right: 0px;
  top: 3rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;

  @media (min-width: 768px) {
    width: 75%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
