.container {
  background-color: var(--white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral-200);
  overflow: hidden;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
}

.price {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
}

.night {
  font-weight: 300;
  color: var(--neutral-600);
}

.reserveBtn {
  padding: 1rem;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}
